/*
Home CSS
Includes CSS for home page
*/

.jumbotron {
	position: relative;
	z-index: 0;
	padding: 30px 0;
	width: 100%;
	background-color: #4CAF50;
}
#canvas {
	position: absolute;
	top: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
}
#welcome-title {
	position: relative;
	z-index: 5;
	color: white;
	font-family: 'Lato';
	text-align: center;
}
#welcome-title > #welcome-title-name {
	font-size: 2.5em;
	font-weight: 400;
}
#welcome-title > #welcome-title-sub {
	font-size: 1.5em;
	font-weight: 300;
}
.sidebar {
	margin-top: 20px;
	width: 100%;
}

@media (min-width: 1000px) {

	.jumbotron {
		padding: 50px 0;
	}
	#welcome-title {
		text-align: left;
	}
	.post-column {
		width: 700px;
		margin-right: 20px;
		float: left;
	}
	.post {
		width: 650px;
	}
	.sidebar {
		box-sizing: border-box;
		width: 280px;
		float: right;
	}

}
