/* Main CSS */

.wrapper {
	padding: 15px;
}
.btn {
	width: 150px;
}
.btn-success {
	background-color: #45D045;
	color: white;
}
.alert {
	box-sizing: border-box;
	width: 100%;
	padding: 20px;
	margin: 10px 0;
	background-color: #ffddc3;
	color: #8c5932;
	font-family: 'Lato';
}
.text-success {
	color: #4CAF50;
}

@media (min-width: 1000px) {

	.wrapper {
		padding: 0;
		width: 1000px;
		margin: 0 auto;
	}
	.grid-container {
		width: 100%;
		max-width: 1000px;
	}
	.grid-container * {
		box-sizing: border-box;
	}
	.row:before,
	.row:after {
		content: "";
		display: table;
		clear: both;
	}
	[class*='col-'] {
		float: left;
		min-height: 1px;
		width: 16.66%;
		/* Gutter */
		padding: 12px;
	}
	.col-1 {
		width: 16.66%;
	}
	.col-2 {
		width: 33.33%;
	}
	.col-3 {
		width: 50%;
	}
	.col-4 {
		width: 66.664%;
	}
	.col-5 {
		width: 83.33%;
	}
	.col-6 {
		width: 100%;
	}

}
